<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="MyContainer">
        <register name="user" type="Server_Areas.Admin.IUserServer,Server_Areas.Admin" mapTo="Server_Areas.Admin.UserServer"/>
      </container>
    </containers>
  </unity>
</configuration>